<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./characters.css" />
    <link rel="stylesheet" href="./header.css" />
    <link rel="stylesheet" href="./penguins.css" />
    <link rel="stylesheet" href="./gallery.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__logo">
          <img src="../images/logo_ping-removebg-preview.png" />
        </div>
        <ul class="navbar__list">
          <li>Postacie</li>
          <li>Prawdziwe Pingwiny</li>
          <li>Galeria</li>
          <li>Pomoc</li>
        </ul>
      </nav>
    </header>
    <main>
      <ul class="characters">
        <li class="character">
          <img
            src="../images/skipper-removebg-preview.png"
            class="character__image"
          />
          <div class="character__description">
            <h1>Skipper</h1>
            <p>
              Skipper jest liderem grupy pingwinów z Madagaskaru i jest bardzo
              zorganizowany i ambitny. Jest też bardzo odważny i gotowy do
              podjęcia ryzyka w imię osiągnięcia swoich celów.
            </p>
            <div>
              <p class="hidden">
                Skipper jest bardzo dobrym tancerzem i uwielbia tańczyć disco.
                Jest bardzo dobrym strategiem i zawsze potrafi znaleźć
                rozwiązanie nawet w najtrudniejszych sytuacjach. Jest też bardzo
                szczery i nie boi się mówić prawdy, nawet jeśli ta nie jest zbyt
                przyjemna dla innych.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line"></div>
        </li>
        <li class="character character--reverse">
          <img src="../images/Kowalski.png" class="character__image" />
          <div class="character__description">
            <h1>Kowalski</h1>
            <p>
              Kowalski jest inteligentnym i naukowym pingwinem, który jest
              odpowiedzialny za tworzenie nowych urządzeń i rozwiązywanie
              problemów. Jest też bardzo nieśmiały i niezbyt pewny siebie.
            </p>

            <div>
              <p class="hidden">
                Kowalski jest wielkim miłośnikiem literatury i uwielbia czytać
                klasyczne książki. Uwielbia eksperymentować i tworzyć nowe
                rzeczy. Jest też bardzo empatyczny i troskliwy wobec swoich
                przyjaciół, zawsze gotowy do pomocy im w trudnych sytuacjach.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line--reverse"></div>
        </li>
        <li class="character">
          <img
            src="../images/rico-removebg-preview.png"
            class="character__image"
          />
          <div class="character__description">
            <h1>Riko</h1>
            <p>
              Rico jest bardzo silnym i niezwykle lojalnym pingwinem, który jest
              zawsze gotowy do pomocy swoim przyjaciołom. Nie jest zbyt
              inteligentny, ale jego siła fizyczna często przydaje się w
              trudnych sytuacjach.
            </p>

            <div>
              <p class="hidden">
                Rico jest znany ze swojej niezwykłej zdolności do przyjmowania
                wszelkiego rodzaju przedmiotów do swojego żołądka i potem
                wydalania ich w niezmienionej formie. Zawsze jest gotowy do
                pomocy swoim przyjaciołom i jest bardzo empatyczny wobec ich
                uczuć. Ma też słabość do słodyczy.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line"></div>
        </li>
        <li class="character character--reverse">
          <img
            src="../images/szeregowy-removebg-preview.png"
            class="character__image"
          />
          <div class="character__description">
            <h1>Szeregowy</h1>
            <p>
              Szeregowy jest najmłodszym i najmniej doświadczonym pingwinem w
              grupie. Jest bardzo nieśmiały i często boi się nowych sytuacji,
              ale jest też bardzo lojalny wobec swoich przyjaciół.
            </p>

            <div>
              <p class="hidden">
                Szeregowy jest wielkim fanem piosenek i uwielbia śpiewać. Ma
                bardzo czysty i melodious głos. Jest bardzo nieśmiały i często
                boi się nowych sytuacji, ale jest też bardzo odważny i zawsze
                gotowy do pomocy swoim przyjaciołom. Ma też niezwykłą zdolność
                do języków i potrafi mówić w kilku różnych językach.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line--reverse"></div>
        </li>
        <li class="character">
          <img src="../images/Julien2.png" class="character__image" />
          <div class="character__description">
            <h1>Król Julian</h1>
            <p>
              King Julian jest zarozumiałym lemurem, który lubi być w centrum
              uwagi i otaczać się luksusowymi przedmiotami. Przybył z
              Madagaskaru. Jest on bardzo narcystyczny i zapatrzony w siebie.
              Posiada gekona o imieniu Stefan
            </p>

            <div>
              <p class="hidden">
                Uwielbia też tańczyć i jest znany z swoich szalonych i zabawnych
                tańców. Ma też słabość do luksusowych przedmiotów i lubi otaczać
                się pięknymi rzeczami. Mimo że czasami bywa egoistyczny i myśli
                tylko o sobie, ma dobre serce i zawsze stara się chronić swoich
                podopiecznych.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line"></div>
        </li>
        <li class="character character--reverse">
          <img
            src="../images/Moris2-removebg-preview.png"
            class="character__image"
          />
          <div class="character__description">
            <h1>Moris</h1>
            <p>
              Jest mądry i inteligentny (jest drugim najinteligentniejszym
              zwierzęciem w zoo, pierwszym jest Kowalski), i dzięki temu potrafi
              przeciwstawić się swojemu władcy, lub powiedzieć mu co o nim
              myśli.
            </p>

            <div>
              <p class="hidden">
                Zna język kameleonów. Zawsze jest znudzony i ponury. Gotuje i
                robi koktajle dla Króla Juliana. Na początku uważał, że pingwiny
                są nienormalne, lecz gdy używały jego kciuka do otwierania
                tajnych baz, polubił ich.
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line--reverse"></div>
        </li>
        <li class="character">
          <img
            src="../images/Mort-removebg-preview.png"
            class="character__image"
          />
          <div class="character__description">
            <h1>Mort</h1>
            <p>
              Mort jest słodki, nieporadny i naiwny. Nie jest zbyt inteligentny,
              dlatego momentami nie odczuwa bólu. Gdy ktoś zaczyna zachowywać
              się wobec niego lekceważąco, najczęściej tego nie zauważa.
            </p>

            <div>
              <p class="hidden">
                Uważa, że potrafi zrobić wszystko, co umieją inni. Kiedy wbije
                sobie do głowy jakiś pomysł, nigdy nie słucha zdania pozostałych
                na ten temat, można powiedzieć, że zawsze dąży do celu po
                trupach. Boi się lwów. Niezmordowany wielbiciel króla Juliana
              </p>
              <button class="character__button">Czytaj Więcej</button>
            </div>
          </div>
          <div class="character__line"></div>
        </li>
      </ul>
      <section class="penguins">
        <h1 class="penguins__title">Pingwiny Adélie</h1>
        <div class="penguins__description">
          <p>
            Skipper, Kowalski, Riko i Szeregowy należą do rasy pingwinów
            białookich. Rasa pingwinów białookich (Eudyptes chrysocome) to
            gatunek pingwina występujący w południowych rejonach Oceanu
            Atlantyckiego i Południowego. Są to średniej wielkości ptaki,
            osiągające długość od 70 do 80 cm i wagę od 2,5 do 3 kg. Ich
            charakterystyczną cechą są białe kufy na głowie i szyi, dzięki czemu
            są łatwo rozpoznawalne.
          </p>
          <div>
            <img src="../images/białooki1.jpg" />
            <img src="../images/białooki3.jpg" />
          </div>
        </div>
        <ul class="penguins__info">
          <li class="penguins__card">
            <h1>Zachowania</h1>
            <img src="../images/białooki2.jpg" />
            <p>
              Te ptaki są bardzo aktywne i lubią pływać w wodzie, ale również
              spędzają dużo czasu na lądzie, gdzie składają jaja i wychowują
              potomstwo. Białookie pingwiny są również znane z tego, że potrafią
              tańczyć i przybierać różne pozy i miny, co sprawia, że są bardzo
              urocze i zabawne.
            </p>
          </li>
          <li class="penguins__card">
            <img src="../images/hunting.jpg" />
            <h1>Stada</h1>
            <p>
              Pingwiny białookie są ptakami, które żyją w stadach liczących od
              kilkuset do kilku tysięcy osobników. Wspólnie polują na ryby i
              dzielą się zdobytym pożywieniem z innymi członkami stada.
            </p>
          </li>
          <li class="penguins__card">
            <h1>Zagrożenia</h1>
            <img src="../images/childwithpadre.jpg" />
            <p>
              Mimo że białookie pingwiny nie są uważane za gatunki zagrożone,
              ich liczebność może być narażona na zmiany w środowisku, takie jak
              zmiany klimatu czy degradacja siedlisk. Dlatego ważne jest, aby
              zapewniać im odpowiednie warunki do życia i chronić ich siedliska
              przed działalnością człowieka.
            </p>
          </li>
          <li class="penguins__card">
            <img src="../images/swimming.jpg" />
            <h1>Pożywienie</h1>
            <p>
              Pingwiny białookie (Eudyptes chrysocome) są drapieżnikami i ich
              dieta składa się głównie z ryb, kryl i kalmarów, które polują w
              wodzie. Są doskonałymi pływakami i potrafią nurkować na głębokość
              nawet 150 metrów, aby zdobyć pożywienie.
            </p>
          </li>
        </ul>
      </section>
      <section class="gallery">
        <div class="gallery__mozaic">
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/1.jpg)"
          ></div>
          <div
            class="gallery__element tall"
            style="background-image: url(../images/gallery/2.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/3.jpg)"
          ></div>
          <div
            class="gallery__element tall"
            style="background-image: url(../images/gallery/4.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/5.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/6.jpg)"
          ></div>
          <div
            class="gallery__element wide"
            style="background-image: url(../images/gallery/12.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/8.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/9.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/10.jpg)"
          ></div>
          <div
            class="gallery__element wide"
            style="background-image: url(../images/gallery/11.jpg)"
          ></div>
        </div>
      </section>
    </main>
  </body>
</html>
