<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./characters.css" />
    <link rel="stylesheet" href="./header.css" />
    <link rel="stylesheet" href="./penguins.css" />
    <link rel="stylesheet" href="./gallery.css" />
    <link rel="stylesheet" href="./help.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__logo">
          <img src="../images/logo_ping-removebg-preview.png" />
        </div>
        <ul class="navbar__list">
          <li>Postacie</li>
          <li>Prawdziwe Pingwiny</li>
          <li>Galeria</li>
          <li>Pomoc</li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <ul class="characters">
          <li class="character">
            <img
              src="../images/skipper-removebg-preview.png"
              class="character__image"
            />
            <div class="character__description">
              <h1>Skipper</h1>
              <p>
                Skipper jest liderem grupy pingwinów z Madagaskaru i jest bardzo
                zorganizowany i ambitny. Jest też bardzo odważny i gotowy do
                podjęcia ryzyka w imię osiągnięcia swoich celów.
              </p>
              <div>
                <p class="hidden">
                  Skipper jest bardzo dobrym tancerzem i uwielbia tańczyć disco.
                  Jest bardzo dobrym strategiem i zawsze potrafi znaleźć
                  rozwiązanie nawet w najtrudniejszych sytuacjach. Jest też
                  bardzo szczery i nie boi się mówić prawdy, nawet jeśli ta nie
                  jest zbyt przyjemna dla innych.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line"></div>
          </li>
          <li class="character character--reverse">
            <img src="../images/Kowalski.png" class="character__image" />
            <div class="character__description">
              <h1>Kowalski</h1>
              <p>
                Kowalski jest inteligentnym i naukowym pingwinem, który jest
                odpowiedzialny za tworzenie nowych urządzeń i rozwiązywanie
                problemów. Jest też bardzo nieśmiały i niezbyt pewny siebie.
              </p>

              <div>
                <p class="hidden">
                  Kowalski jest wielkim miłośnikiem literatury i uwielbia czytać
                  klasyczne książki. Uwielbia eksperymentować i tworzyć nowe
                  rzeczy. Jest też bardzo empatyczny i troskliwy wobec swoich
                  przyjaciół, zawsze gotowy do pomocy im w trudnych sytuacjach.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line--reverse"></div>
          </li>
          <li class="character">
            <img
              src="../images/rico-removebg-preview.png"
              class="character__image"
            />
            <div class="character__description">
              <h1>Riko</h1>
              <p>
                Rico jest bardzo silnym i niezwykle lojalnym pingwinem, który
                jest zawsze gotowy do pomocy swoim przyjaciołom. Nie jest zbyt
                inteligentny, ale jego siła fizyczna często przydaje się w
                trudnych sytuacjach.
              </p>

              <div>
                <p class="hidden">
                  Rico jest znany ze swojej niezwykłej zdolności do przyjmowania
                  wszelkiego rodzaju przedmiotów do swojego żołądka i potem
                  wydalania ich w niezmienionej formie. Zawsze jest gotowy do
                  pomocy swoim przyjaciołom i jest bardzo empatyczny wobec ich
                  uczuć. Ma też słabość do słodyczy.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line"></div>
          </li>
          <li class="character character--reverse">
            <img
              src="../images/szeregowy-removebg-preview.png"
              class="character__image"
            />
            <div class="character__description">
              <h1>Szeregowy</h1>
              <p>
                Szeregowy jest najmłodszym i najmniej doświadczonym pingwinem w
                grupie. Jest bardzo nieśmiały i często boi się nowych sytuacji,
                ale jest też bardzo lojalny wobec swoich przyjaciół.
              </p>

              <div>
                <p class="hidden">
                  Szeregowy jest wielkim fanem piosenek i uwielbia śpiewać. Ma
                  bardzo czysty i melodious głos. Jest bardzo nieśmiały i często
                  boi się nowych sytuacji, ale jest też bardzo odważny i zawsze
                  gotowy do pomocy swoim przyjaciołom. Ma też niezwykłą zdolność
                  do języków i potrafi mówić w kilku różnych językach.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line--reverse"></div>
          </li>
          <li class="character">
            <img src="../images/Julien2.png" class="character__image" />
            <div class="character__description">
              <h1>Król Julian</h1>
              <p>
                King Julian jest zarozumiałym lemurem, który lubi być w centrum
                uwagi i otaczać się luksusowymi przedmiotami. Przybył z
                Madagaskaru. Jest on bardzo narcystyczny i zapatrzony w siebie.
                Posiada gekona o imieniu Stefan
              </p>

              <div>
                <p class="hidden">
                  Uwielbia też tańczyć i jest znany z swoich szalonych i
                  zabawnych tańców. Ma też słabość do luksusowych przedmiotów i
                  lubi otaczać się pięknymi rzeczami. Mimo że czasami bywa
                  egoistyczny i myśli tylko o sobie, ma dobre serce i zawsze
                  stara się chronić swoich podopiecznych.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line"></div>
          </li>
          <li class="character character--reverse">
            <img
              src="../images/Moris2-removebg-preview.png"
              class="character__image"
            />
            <div class="character__description">
              <h1>Moris</h1>
              <p>
                Jest mądry i inteligentny (jest drugim najinteligentniejszym
                zwierzęciem w zoo, pierwszym jest Kowalski), i dzięki temu
                potrafi przeciwstawić się swojemu władcy, lub powiedzieć mu co o
                nim myśli.
              </p>

              <div>
                <p class="hidden">
                  Zna język kameleonów. Zawsze jest znudzony i ponury. Gotuje i
                  robi koktajle dla Króla Juliana. Na początku uważał, że
                  pingwiny są nienormalne, lecz gdy używały jego kciuka do
                  otwierania tajnych baz, polubił ich.
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line--reverse"></div>
          </li>
          <li class="character">
            <img
              src="../images/Mort-removebg-preview.png"
              class="character__image"
            />
            <div class="character__description">
              <h1>Mort</h1>
              <p>
                Mort jest słodki, nieporadny i naiwny. Nie jest zbyt
                inteligentny, dlatego momentami nie odczuwa bólu. Gdy ktoś
                zaczyna zachowywać się wobec niego lekceważąco, najczęściej tego
                nie zauważa.
              </p>

              <div>
                <p class="hidden">
                  Uważa, że potrafi zrobić wszystko, co umieją inni. Kiedy wbije
                  sobie do głowy jakiś pomysł, nigdy nie słucha zdania
                  pozostałych na ten temat, można powiedzieć, że zawsze dąży do
                  celu po trupach. Boi się lwów. Niezmordowany wielbiciel króla
                  Juliana
                </p>
                <button class="character__button">Czytaj Więcej</button>
              </div>
            </div>
            <div class="character__line"></div>
          </li>
        </ul>
      </section>
      <section class="penguins">
        <h1 class="penguins__title">Pingwiny Białookie</h1>
        <div class="penguins__description">
          <p>
            Skipper, Kowalski, Riko i Szeregowy należą do rasy pingwinów
            białookich. Rasa pingwinów białookich (Eudyptes chrysocome) to
            gatunek pingwina występujący w południowych rejonach Oceanu
            Atlantyckiego i Południowego. Są to średniej wielkości ptaki,
            osiągające długość od 70 do 80 cm i wagę od 2,5 do 3 kg. Ich
            charakterystyczną cechą są białe kufy na głowie i szyi, dzięki czemu
            są łatwo rozpoznawalne.
          </p>
          <div>
            <img src="../images/białooki1.jpg" />
            <img src="../images/białooki3.jpg" />
          </div>
        </div>
        <ul class="penguins__info">
          <li class="penguins__card">
            <h1>Zachowania</h1>
            <img src="../images/białooki2.jpg" />
            <p>
              Te ptaki są bardzo aktywne i lubią pływać w wodzie, ale również
              spędzają dużo czasu na lądzie, gdzie składają jaja i wychowują
              potomstwo. Białookie pingwiny są również znane z tego, że potrafią
              tańczyć i przybierać różne pozy i miny, co sprawia, że są bardzo
              urocze i zabawne.
            </p>
          </li>
          <li class="penguins__card">
            <img src="../images/hunting.jpg" />
            <h1>Stada</h1>
            <p>
              Pingwiny białookie są ptakami, które żyją w stadach liczących od
              kilkuset do kilku tysięcy osobników. Wspólnie polują na ryby i
              dzielą się zdobytym pożywieniem z innymi członkami stada.
            </p>
          </li>
          <li class="penguins__card">
            <h1>Zagrożenia</h1>
            <img src="../images/childwithpadre.jpg" />
            <p>
              Mimo że białookie pingwiny nie są uważane za gatunki zagrożone,
              ich liczebność może być narażona na zmiany w środowisku, takie jak
              zmiany klimatu czy degradacja siedlisk. Dlatego ważne jest, aby
              zapewniać im odpowiednie warunki do życia i chronić ich siedliska
              przed działalnością człowieka.
            </p>
          </li>
          <li class="penguins__card">
            <img src="../images/swimming.jpg" />
            <h1>Pożywienie</h1>
            <p>
              Pingwiny białookie (Eudyptes chrysocome) są drapieżnikami i ich
              dieta składa się głównie z ryb, kryl i kalmarów, które polują w
              wodzie. Są doskonałymi pływakami i potrafią nurkować na głębokość
              nawet 150 metrów, aby zdobyć pożywienie.
            </p>
          </li>
        </ul>
      </section>
      <section class="gallery">
        <div class="gallery__mozaic">
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/1.jpg)"
          ></div>
          <div
            class="gallery__element tall"
            style="background-image: url(../images/gallery/2.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/3.jpg)"
          ></div>
          <div
            class="gallery__element tall"
            style="background-image: url(../images/gallery/4.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/5.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/6.jpg)"
          ></div>
          <div
            class="gallery__element wide"
            style="background-image: url(../images/gallery/12.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/8.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/9.jpg)"
          ></div>
          <div
            class="gallery__element"
            style="background-image: url(../images/gallery/10.jpg)"
          ></div>
          <div
            class="gallery__element wide"
            style="background-image: url(../images/gallery/11.jpg)"
          ></div>
        </div>
      </section>
      <section class="help">
        <div>
          <p class="help__text">
            Pingwiny białookie to piękne, inteligentne stworzenia, które są
            integralną częścią ekosystemu Antarktyki. Niestety, są one narażone
            na wiele zagrożeń, które mogą prowadzić do ich wyginięcia. Jednym z
            największych zagrożeń dla pingwinów białookie jest zmiana klimatu.
            Wzrost temperatury powoduje topnienie lodu, co z kolei zmniejsza
            dostępność pożywienia dla tych ptaków. W wyniku tego pingwiny muszą
            spędzać więcej czasu w morzu szukając pożywienia, co osłabia ich
            organizmy i zwiększa ryzyko wyginięcia. Kolejnym zagrożeniem dla
            pingwinów białookie jest polowanie na nie. Niektóre kraje, takie jak
            Chiny i Japonia, pozwalają na polowanie na pingwiny białookie, co
            prowadzi do ich zmniejszenia liczebności. Pingwiny są również
            narażone na zanieczyszczenie środowiska. Zanieczyszczenie morskie,
            takie jak plastik, może prowadzić do zatrucia lub uduszenia ptaków,
            a także zmniejszać dostępność pożywienia. Jest wiele organizacji
            zajmujących się ochroną pingwinów, ale aby zapewnić im bezpieczne i
            zdrowe środowisko, potrzebna jest świadomość i działanie ze strony
            ludzi na całym świecie. Musimy zrobić wszystko, co w naszej mocy,
            aby chronić te piękne i unikalne stworzenia.
          </p>
          <ul class="help__list">
            <li>Lista organizacji ratujących pingwiny:</li>
            <li>
              <a href="https://penguinfoundation.org.au/">Penguin Foundation</a
              >: ta australijska organizacja non-profit działa na rzecz ochrony
              pingwinów morskich, a także innych ptaków i morskich ssaków.
            </li>
            <li>
              <a
                href="https://dict.org.za/dict-projects/african-penguin-seabird-sanctuary/"
                >African Penguin and Seabird Sanctuary (APSS)</a
              >: ta organizacja non-profit z siedzibą w RPA zajmuje się ochroną
              pingwinów afrykańskich oraz innych ptaków morskich.
            </li>
            <li>
              <a
                href="https://www.penguinsinternational.org/?gclid=CjwKCAiAkrWdBhBkEiwAZ9cdcIEK7COthUH8FS0JnpqtYWucdEq88CUGPwlDhtENn1CNNDRBF-KTWhoC3bgQAvD_BwE"
                >Penguins International</a
              >:to międzynarodowa organizacja non-profit zajmująca się ochroną
              pingwinów morskich. Działa na rzecz ochrony różnorodności
              biologicznej i zrównoważonego rozwoju poprzez badania naukowe,
              edukację oraz szerzenie świadomości o ochronie tych ptaków.
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer>
      <div class="wave">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
      Made by: Krzysztof Bugajski & Tymoteusz Morawiec
    </footer>
  </body>
</html>
