<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./characters.css" />
    <link rel="stylesheet" href="./header.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__logo">
          <img src="../images/logo_ping-removebg-preview.png" />
        </div>
        <ul class="navbar__list">
          <li>Postacie</li>
          <li>Prawdziwe Pingwiny</li>
          <li>Galeria</li>
          <li>Pomoc</li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="character">
        <img
          src="../images/skipper-removebg-preview.png"
          class="character__image"
        />
        <div class="character__description">
          <h1>Skipper</h1>
          <p>
            Skipper jest liderem grupy pingwinów z Madagaskaru i jest bardzo
            zorganizowany i ambitny. Jest też bardzo odważny i gotowy do
            podjęcia ryzyka w imię osiągnięcia swoich celów.
          </p>
          <div>
            <p class="hidden">
              Skipper jest bardzo dobrym tancerzem i uwielbia tańczyć disco.
              Jest bardzo dobrym strategiem i zawsze potrafi znaleźć rozwiązanie
              nawet w najtrudniejszych sytuacjach. Jest też bardzo szczery i nie
              boi się mówić prawdy, nawet jeśli ta nie jest zbyt przyjemna dla
              innych.
            </p>
            <button class="character__button">Czytaj Więcej</button>
          </div>
        </div>
        <div class="character__line"></div>
      </section>
      <section class="character character--reverse">
        <img src="../images/Kowalski.png" class="character__image" />
        <div class="character__description">
          <h1>Kowalski</h1>
          <p>
            Kowalski jest inteligentnym i naukowym pingwinem, który jest
            odpowiedzialny za tworzenie nowych urządzeń i rozwiązywanie
            problemów. Jest też bardzo nieśmiały i niezbyt pewny siebie.
          </p>

          <div>
            <p class="hidden">
              Kowalski jest wielkim miłośnikiem literatury i uwielbia czytać
              klasyczne książki. Uwielbia eksperymentować i tworzyć nowe rzeczy.
              Jest też bardzo empatyczny i troskliwy wobec swoich przyjaciół,
              zawsze gotowy do pomocy im w trudnych sytuacjach.
            </p>
            <button class="character__button">Czytaj Więcej</button>
          </div>
        </div>
        <div class="character__line--reverse"></div>
      </section>
      <section class="character">
        <img
          src="../images/rico-removebg-preview.png"
          class="character__image"
        />
        <div class="character__description">
          <h1>Riko</h1>
          <p>
            Rico jest bardzo silnym i niezwykle lojalnym pingwinem, który jest
            zawsze gotowy do pomocy swoim przyjaciołom. Nie jest zbyt
            inteligentny, ale jego siła fizyczna często przydaje się w trudnych
            sytuacjach.
          </p>

          <div>
            <p class="hidden">
              Rico jest znany ze swojej niezwykłej zdolności do przyjmowania
              wszelkiego rodzaju przedmiotów do swojego żołądka i potem
              wydalania ich w niezmienionej formie. Zawsze jest gotowy do pomocy
              swoim przyjaciołom i jest bardzo empatyczny wobec ich uczuć. Ma
              też słabość do słodyczy.
            </p>
            <button class="character__button">Czytaj Więcej</button>
          </div>
        </div>
        <div class="character__line"></div>
      </section>
      <section class="character character--reverse">
        <img
          src="../images/szeregowy-removebg-preview.png"
          class="character__image"
        />
        <div class="character__description">
          <h1>Szeregowy</h1>
          <p>
            Szeregowy jest najmłodszym i najmniej doświadczonym pingwinem w
            grupie. Jest bardzo nieśmiały i często boi się nowych sytuacji, ale
            jest też bardzo lojalny wobec swoich przyjaciół.
          </p>

          <div>
            <p class="hidden">
              Szeregowy jest wielkim fanem piosenek i uwielbia śpiewać. Ma
              bardzo czysty i melodious głos. Jest bardzo nieśmiały i często boi
              się nowych sytuacji, ale jest też bardzo odważny i zawsze gotowy
              do pomocy swoim przyjaciołom. Ma też niezwykłą zdolność do języków
              i potrafi mówić w kilku różnych językach.
            </p>
            <button class="character__button">Czytaj Więcej</button>
          </div>
        </div>
        <div class="character__line--reverse"></div>
      </section>
    </main>
  </body>
</html>
